body{
	font-family: 'Poppins', sans-serif;
	background-image: url(../img/back1.jpg);
	background-size: 1360px;
}




th
{
	width: 20%;
	color: white;
	background-color: #000000a1;
	padding: 10px;
	border:2px solid white;

}

table
{
	width: 70%;
	border-collapse: collapse;
}

.order-table
{
	width: 100%;
	margin:20px 0px 20px 0px;
}


.order-table p
{
	font-size:12px; 

}


tr:nth-child(even)
{
	border:none;
	background-color: lightgrey;
}


td
{
	padding: 5px;
}


.order-table input[type=number]
{
	width: 25%;
	height: 20px;
	box-sizing: border-box;
	display: inline-block;
	outline: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}


	.order_bar
	{
		width:80%;
		height: 60px;
		
		float: left;
	}
	.order_bar a
	{
		color: black;
		text-decoration: none;
		margin: 20px;
		padding: 8px 15px 8px 15px;
	}

	.order_bar a:hover
	{
		background-color: #ed1c24;
		border-radius: 12px;
	}

	.order_bar a:active
	{
		background-color: #ed1c24;
		border-radius: 10px;
	}

	a{
		text-decoration: none;
		color: black;
	}